* {
    font-family: "Quicksand", sans-serif, monospace;
    font-variant: small-caps;
    box-sizing: border-box;
    margin: 5px;
}

body {
    align-items: center;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    margin: 5px;
    display: inline-table;
    background-color: #030637;
    color: #fb2576;
}

header {
    top: 40%;
    min-height: 50vh;
    display: block;
    background-image: url("./images/intellina.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-image: linear-gradient(to bottom right, #720455, #3c0753) 30;
    border-width: 4px;
    border-style: solid;
    animation: fadeIn 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#event-main-title {
    font-size: 10vh;
    width: 100%;
    position: absolute;
    top: 35%;
    transition: ease-in 500ms;
    padding: 0;
    margin: 0;
}

#event-main-disc {
    font-size: 3vh;
    width: 100%;
    position: absolute;
    top: 50%;
    transition: ease-in 700ms;
    padding: 0;
    margin: 0;
}

nav {
    position: relative;
    width: 100%;
    top: 30%;
    color: inherit;
    justify-content: space-evenly;
    text-shadow: 0 0 7px #ffffff, 0 0 7px #ffffff;
}

button.dropbtn {
    border: none;
    background: none;
    font-size: large;
    color: inherit;
}

button.dropbtn:hover {
    background-image: linear-gradient(to bottom right, orange, white, green);
    transition-duration: 300ms;
    border-radius: 20px;
    color: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 50%;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(224, 231, 160, 0.541);
    box-shadow: 0 2px 5px rgba(219, 243, 5, 0.808);
    color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

a {
    text-decoration: none;
    color: inherit;
}

a.tech-learn-more-links {
    color: inherit;
    font: inherit;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(120, 226, 20, 0.541);
}

a.tech-learn-more-links:hover {
    color: red;
    font: inherit;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(219, 243, 5, 0.808);
}

a.non-tech-learn-more-links {
    color: inherit;
    font: inherit;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(120, 226, 20, 0.541);
}

a.non-tech-learn-more-links:hover {
    color: red;
    font: inherit;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(219, 243, 5, 0.808);
}

a.fun-learn-more-links {
    color: inherit;
    font: inherit;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(120, 226, 20, 0.541);
}

a.fun-learn-more-links:hover {
    color: red;
    font: inherit;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(219, 243, 5, 0.808);
}

section {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: minmax(100px, 40%);
    border-width: 3px;
    border-style: ridge;
    border-color: #3c0753;
}

div.sections-group {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

h2.category-header {
    font-size: 35px;
}

div.event-container {
    border-width: 2px;
    border-style: solid;
    justify-content: stretch;
    display: visible;
    width: 400px;
    height: 300px;
}

div.event-subcontainer {
    height: 100%;
    width: 100%;
    display: inline-block;
    justify-content: stretch;
    text-align: center;
    padding-top: 40%;
    color: cyan;
}

h3.event-title {
    background-color: transparent;
}

div.tech-event-container {
    background: url("./images/techBgs/temp.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: inherit;
    background-position: center;
    overflow: hidden;
    margin: 5px;
}

div.tech-event-content-slider-container {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tech-event-dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.tech-event-active {
    background-color: black;
}

div.tech-event-content-slider {
    display: none;
}

div.tech-event-content-slider:nth-child(1) {
    display: block;
}

div.tech-event-subcontainer {
    color: inherit;
    opacity: 0;
    margin: 5px;
    align-items: inherit;
}

div.tech-event-subcontainer:hover {
    opacity: 1;
    transition-duration: 400ms;
}

input.tech-slider-buttons {
    border: none;
    background: none;
    color: inherit;
}

input.non-tech-slider-buttons {
    border: none;
    background: none;
    color: inherit;
}

div.non-tech-event-container {
    background: url("./images/nonTechBgs/temp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

div.non-tech-event-content-slider-container {
    align-items: center;
    text-align: center;
    justify-content: center;
}

div#non-tech-ipl-auction-container {
    background: url("./images/nonTechBgs/ipl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-escape-room-container {
    background: url("./images/nonTechBgs/escape_room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-treasure-hunt-container {
    background: url("./images/nonTechBgs/treasure_hunt.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-dump-show-container {
    background: url("./images/nonTechBgs/dump_show.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-anime-quiz-container {
    background: url("./images/nonTechBgs/anime_quiz.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

div#non-tech-dance-music-container {
    background: url("./images/nonTechBgs/dance_music.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-connections-container {
    background: url("./images/nonTechBgs/connection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#non-tech-kollywood-trivia-container {
    background: url("./images/nonTechBgs/kollywood_trivia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.non-tech-event-carousel {
    position: relative;
    overflow: hidden;
}

.non-tech-event-dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.non-tech-event-active {
    background-color: black;
    font-weight: bold;
    text-shadow: 0 0 15px white;
}

div.non-tech-event-content-slider {
    display: none;
}

div.non-tech-event-content-slider:nth-child(1) {
    display: block;
}

div.non-tech-event-subcontainer {
    opacity: 0;
    margin: 5px;
    text-shadow: 0 0 5px #45ffca;
    font-weight: 750;
    color: #1d2b53;
}

div.non-tech-event-subcontainer:hover {
    opacity: 1;
    transition-duration: 400ms;
}

div.fun-event-subcontainer {
    opacity: 0;
}

div.fun-event-subcontainer:hover {
    opacity: 1;
    transition-duration: 400ms;
}

div.fun-event-container {
    background: url("./images/funBgs/temp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-media {
    margin: auto;
    width: 30%;
    justify-content: space-between;
    display: flex;
}

.social-media a {
    padding-left: 12px;
}

.further-details {
    font-size: small;
    margin: auto;
    padding: auto;
    align-items: flex-end;
}
